
body{
	border:10px;
	padding-left:10px;
	margin:10px;
	background-color: light-grey;
}
.page-header{
	padding-bottom: 10px;
	border: 10px;
	margin:10px;
}
.projects{
	padding-top: 20px;
}
.contact{
	padding-top:10px;
}